<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ app_name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='styles.css') }}?v={{ static_version }}">
  </head>
  <body class="theme-light">
    {% block body %}{% endblock %}
    {% block scripts %}
    <script src="{{ url_for('static', path='app.js') }}?v={{ static_version }}"></script>
    {% endblock %}
  </body>
</html>
